/* Common styles for all browsers */
body {
  font-family: 'Source Sans Pro', sans-serif;
  /* Add other common styles here */
}

/* Styles for Netsurf */
@media screen and (max-width: 640px) {
  body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  body::after {
      content: "Redirecting to text-only version for Netsurf...";
      color: black;
      font-size: 16px;
  }

  /* Redirect to textOnly.html after a delay */
  @keyframes redirect {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  body::before,
  body::after {
      animation: redirect 3s ease-out forwards;
  }
}

